* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62,5%;

    --ff-primary: 'Roboto', sans-serif;
    --text-color: #E1E1E6;
    
    --hue: 194;
    --primary-color: #092D38;
}

body * {
    font-family: var(--ff-primary);
    color: var(--text-color);
    
}

body {
    font-size: 1.6rem;
    
    background-color: #06181C;
}

/* sr-only: força para que o elemento desapareça da tela para o usuário, sem ter problema para o leitor de tela (leitor de tela vê normalmente */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

#app {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2.5rem 0;
}

header h1 {
    font-size: 2rem;
    text-transform: uppercase;
}

.search {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.search input {
    width: 20rem;
    height: 3.2rem;
    border: 1px solid #06181C;
    background-color: #2F2F33;
    border-radius: .4rem;
    padding: 0 .8rem;
}

.search button {
    background-color: #065E7C;
    border-radius: .4rem;
    width: 10rem;
    height: 3.2rem;
    border: none;
    padding: 0 1rem;
    font-weight: bold;

    cursor: pointer;

    font-size: 1.2rem;

    display: flex;
    gap: .4rem;
    align-items: center;
}

.search button:hover {
    background-color: #FFFFFF;
    filter: brightness(1.1);
    svg path {
        fill: #065E7C;
    }
    p {
        color: #065E7C;
        font-weight: bold;
    }
}

main {
    border: 2px solid #4A808C;
    border-radius: 2rem;
    overflow: hidden;
}

/* .wrapper-table {
    overflow-y: auto;
    display: block;
    height: 400px;
    width: auto;

    border: 2px solid #4A808C;

    position: relative;
    max-height: 65vh;

    overflow: auto;


    display: block;
}
    ::-webkit-scrollbar {
        background-color: transparent;
        width: .6rem;
        border-radius: 1rem;
    }


    ::-webkit-scrollbar-thumb {
        background-color: #4A808C;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        
        height: 1.2rem;
        border-radius: 1rem;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #3e6b76;
    } */
table {    
    width: 100%;
    border: 1px solid #4A808C;
    border-collapse: collapse;
    border-radius: 1.2rem;
    overflow: hidden;
    box-shadow: 0px 1px 2rem -1px rgb(0 0 0 / 50%);
    background: #092D38;
}

table * {
    font-size: 1.4rem;
    color: var(--text-color);
}

table th {
    background-color: var(--primary-color);
    text-align: left;
    font-weight: normal;
    padding: 1.5rem;    
}

table th:first-child {
    padding-left: 2.2rem;
}

table tr {
    border: 1px solid #4A808C; 
}

table tr:nth-child(even) {
    background: #2F2F33;
}

table tr:nth-child(odd) {
    background: #06181C;
}

table tr:nth-child(even):hover {
    background: #3d3d42;
    border: 3px solid #4A808C;
}

table tr:nth-child(odd):hover {
    background: #082127;
    border: 3px solid #4A808C;
}

tr + tr {
    border: 1px solid #4A808C;
}

table td {
    padding: 1.5rem;
    text-align: left;
}

td.user {
    display: flex;
    align-items: center;
    gap:1rem;
}

td.user img {
    width: 5rem;
    height: 5rem;

    object-fit: cover;

    border-radius: 50%;
}

td.user a {
    text-decoration: none;
}

td.user a p {
    font-weight: bold;
}

td .remove {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
}

.empty-state {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;

    height: 30rem;
    font-size: 4rem;
    background: #030b0d;
}

.empty-state svg {
    width: 8rem;
    height: 8rem;
}

.empty-state p {
    font-family: var(--ff-primary);
    color: #4e5455;
}